* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.input-wrapper {
  position: relative;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

button {
  border: 0;
  border-radius: 50% 50%;
  overflow: hidden;
  background-color: transparent;
  
  transition: all 500ms;
}
button:hover,
button:focus {
  transform: scale(1.1);
  filter: contrast(1.1);
}

nav img {
  object-fit: cover;
  width: inherit;
  height: inherit;
}
img {
  width: 100%;
  object-fit: cover;
  display: block;
}

p {
  color: var(--fc);
  line-height: 160%;
}
h1, h2, h3 {
  color: var(--fc-h);
  line-height: 160%;
}
:root {
  font-size: 62.5%;
  font-family: 'Mulish', sans-serif;

  --color-1st: #387E96;
  --color-2nd: #FFFFFF;
  --color-2nd-light: hsla(0, 0%, 100%, 20%);
  --fc-h: #202024;
  --fc: #121214;
}



#page {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  height: 100vh;
  background-color: var(--color-1st);
}
.container {
  padding: 1.6rem 2.8rem;
}



nav .container {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}
nav form {
  flex: 1;
}
nav input {
  width: 100%;
  background-color: var(--color-2nd-light);
  border: 0;
  border-radius: .4rem;
  padding: 1.2rem 1.4rem;
}
nav input,
nav input::placeholder {
  font-size: 1.6rem;
  color: var(--color-2nd);
}
nav button {
  width: 4.2rem;
  height: 4.2rem;
}



main {
  overflow-y: auto;
  background-color: var(--color-2nd);
}

section > img {
  height: 40vh;
}
section h1 {
  font-size: 2.4rem;
  padding-bottom: .8rem;
}
section .like{
  display: flex;
  gap: 1.2rem;
}
section p {
  font-size: 1.6rem;
  padding-top: 3.2rem;
}

aside {
  margin-bottom: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
aside h2 {
  font-size: 2.4rem;
}
aside article {
  display: grid;
  grid-template-areas: 
  "img h"
  "img p";
  grid-template-rows: min-content min-content;
  width: 38.2rem;
}
aside article img {
  grid-area: img;
  margin-right: 1.6rem;
  aspect-ratio: 10/7;
  width: 15rem;
  border-radius: 10%;
  display: block;
}
aside article h3 {
  grid-area: h;
  font-size: 1.8rem;
  padding-bottom: 1.3rem;
}
aside article p {
  grid-area: p;
  font-size: 1.4rem;
}



footer {
  background-color: var(--color-2nd-light);
  text-align: center;
}
footer p {
  color: var(--color-2nd);
  font-size: 1.6rem;
}



@media (min-width: 750px) {
  main {
    display: grid;
    grid-template-areas: 
    "img side"
    "text side";
  }
  section > img {
    padding: 0 2.8rem;
    margin-top: 2.8rem;
    border-radius: 10%;
    overflow: hidden;
  }
  section .text {
    display: grid;  
    grid-template-areas: 
    "h l"
    "p p";
    grid-template-rows: max-content 1fr;
  }
  .text h1 {
    grid-area: h;
  }
  .text .like {
    grid-area: l;
    justify-self: end;
  }
  .text p {
    grid-area: p;
    margin-bottom: 1.6rem;
  }
  main .aside {
    padding-left: 0;
    height: 50vh;
  }
}